header
	span(1/1)
	background-color #fff
	height 60px
	box-sizing border-box
	padding 10px
	border-top 8px solid #dc4747
	box-shadow 0 0 4px 1px rgba(0,0,0,.4)
	position relative
	z-index 9999
	img
		height 35px
	div
		span(2/5)
		float right
		text-align right
		font-size 13px
		color #000
		a
			background-color #e67e22
			padding 10px
			color #fff
			text-decoration none
			border-radius 3px
			display inline-block
			margin-left 10px